# Treinamento do Mecanismo de Recomendação

*Dataset: https://www.kaggle.com/datasets/ylchang/coffee-shop-sample-data-1113*

In [51]:
# Bibliotecas
import pandas as pd
from mlxtend.frequent_patterns import association_rules, apriori

# Leitura do dataset

In [52]:
# Recibos de venda
sales_reciepts = pd.read_csv("dataset/201904 sales reciepts.csv")
sales_reciepts.head() # Exibir dados

,transaction_id,transaction_date,transaction_time,sales_outlet_id,staff_id,customer_id,instore_yn,order,line_item_id,product_id,quantity,line_item_amount,unit_price,promo_item_yn
0,7,2019-04-01,12:04:43,3,12,558,N,1,1,52,1,2.50,2.50,N
1,11,2019-04-01,15:54:39,3,17,781,N,1,1,27,2,7.00,3.50,N
2,19,2019-04-01,14:34:59,3,17,788,Y,1,1,46,2,5.00,2.50,N
3,32,2019-04-01,16:06:04,3,12,683,N,1,1,23,2,5.00,2.50,N
4,33,2019-04-01,19:18:37,3,17,99,Y,1,1,34,1,2.45,2.45,N

In [53]:
# Produtos
product = pd.read_csv("dataset/product.csv")
product.head()

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,14.40,$18.00,Y,N,N
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,14.40,$18.00,Y,N,N
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,11.80,$14.75,Y,N,N
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,16.36,$20.45,Y,N,N
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,12.00,$15.00,Y,N,N

# Manipulação dos dados

## Filtragem dos dados
Filtrar as colunas necessárias nos dataframes.

In [54]:
sales_reciepts = sales_reciepts[[
    "transaction_id", "transaction_date", "sales_outlet_id", "customer_id", "product_id", "quantity"]]
sales_reciepts.head()

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity
0,7,2019-04-01,3,558,52,1
1,11,2019-04-01,3,781,27,2
2,19,2019-04-01,3,788,46,2
3,32,2019-04-01,3,683,23,2
4,33,2019-04-01,3,99,34,1

In [55]:
product = product[[
    "product_id", "product_category", "product"
]]
product.head()

   product_id product_category                   product
0           1     Coffee beans       Brazilian - Organic
1           2     Coffee beans  Our Old Time Diner Blend
2           3     Coffee beans            Espresso Roast
3           4     Coffee beans      Primo Espresso Roast
4           5     Coffee beans    Columbian Medium Roast

## Merge Data
Mescla os dados dos dataframes.

In [56]:
# Mesclar os dados do dataset
dataset = pd.merge(
    sales_reciepts, product, # dataframes
    on="product_id", # coluna correspondente
    how="left" # "LEFT JOIN"
    )
dataset.head()

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product
0,7,2019-04-01,3,558,52,1,Tea,Traditional Blend Chai Rg
1,11,2019-04-01,3,781,27,2,Coffee,Brazilian Lg
2,19,2019-04-01,3,788,46,2,Tea,Serenity Green Tea Rg
3,32,2019-04-01,3,683,23,2,Coffee,Our Old Time Diner Blend Rg
4,33,2019-04-01,3,99,34,1,Coffee,Jamaican Coffee River Sm

## Remover tamanhos
Alguns produtos possuem no nome seus tamanhos, como "lg", "rg", "small", etc.

In [57]:
# Filtrar os dados que possuem o produto "Dark chocolate" para obter os tamanhos (lg, rg, default)
dataset[dataset["product"].str.contains("Dark chocolate")]["product"].unique()

array(['Dark chocolate Lg', 'Dark chocolate Rg', 'Dark chocolate'],
      dtype=object)

In [58]:
# Quantidade de produtos (inclusive variações de tamanhos)
dataset["product"].nunique()

80

In [59]:
# Lista de produtos com variações de tamanho
print(dataset["product"].unique())

['Traditional Blend Chai Rg' 'Brazilian Lg' 'Serenity Green Tea Rg'
 'Our Old Time Diner Blend Rg' 'Jamaican Coffee River Sm' 'Ethiopia Rg'
 'English Breakfast Lg' 'Sustainably Grown Organic Rg' 'Earl Grey Lg'
 'Jamaican Coffee River Rg' 'Serenity Green Tea Lg' 'Brazilian Sm'
 'English Breakfast Rg' 'Traditional Blend Chai Lg' 'Cappuccino'
 'Espresso shot' 'Cappuccino Lg' 'Latte' 'Earl Grey Rg'
 'Dark chocolate Lg' 'Columbian Medium Roast Sm' 'Oatmeal Scone'
 'Morning Sunrise Chai Lg' 'Morning Sunrise Chai Rg' 'Peppermint Lg'
 'Jumbo Savory Scone' 'Lemon Grass Lg' 'Sustainably Grown Organic Lg'
 'Dark chocolate Rg' 'Lemon Grass Rg' 'Ethiopia Sm' 'Latte Rg'
 'Our Old Time Diner Blend Sm' 'Chocolate Chip Biscotti'
 'Columbian Medium Roast Rg' 'Ethiopia Lg' 'Brazilian Rg'
 'Columbian Medium Roast Lg' 'Spicy Eye Opener Chai Rg' 'Ginger Biscotti'
 'Our Old Time Diner Blend Lg' 'Chocolate Croissant'
 'Jamaican Coffee River Lg' 'Hazelnut Biscotti' 'Spicy Eye Opener Chai Lg'
 'Cranberry Scone' 'Peppermint Rg' 'Scottish Cream Scone ' 'Croissant'
 'Almond Croissant' 'Ginger Scone' 'Ouro Brasileiro shot'
 'Organic Decaf Blend' 'Chocolate syrup' 'Peppermint' 'Ethiopia'
 'Hazelnut syrup' 'Carmel syrup' 'English Breakfast'
 'Sugar Free Vanilla syrup' 'Our Old Time Diner Blend'
 'Jamacian Coffee River' 'Spicy Eye Opener Chai'
 'Sustainably Grown Organic' 'Dark chocolate'
 'Guatemalan Sustainably Grown' 'Civet Cat' 'Serenity Green Tea'
 'Chili Mayan' 'Primo Espresso Roast' 'Brazilian - Organic'
 'Morning Sunrise Chai' 'Earl Grey' 'I Need My Bean! Diner mug'
 'Traditional Blend Chai' 'Espresso Roast' 'Columbian Medium Roast'
 'I Need My Bean! T-shirt' 'I Need My Bean! Latte cup' 'Lemon Grass']

In [60]:
# Remover os tamanhos do nome do produto
sizes = ["Rg", "Sm", "Lg"] # Lista de tamanhos

for s in sizes:
    dataset["product"] = dataset["product"].str.replace(
        f" {s}", "" # remover tamanho
    )

In [61]:
# Quantidade de produtos (sem contar variações de tamanho)
dataset["product"].nunique()

45

In [62]:
# Lista de produtos sem variações de tamanho
print(dataset["product"].unique())

['Traditional Blend Chai' 'Brazilian' 'Serenity Green Tea'
 'Our Old Time Diner Blend' 'Jamaican Coffee River' 'Ethiopia'
 'English Breakfast' 'Sustainably Grown Organic' 'Earl Grey' 'Cappuccino'
 'Espresso shot' 'Latte' 'Dark chocolate' 'Columbian Medium Roast'
 'Oatmeal Scone' 'Morning Sunrise Chai' 'Peppermint' 'Jumbo Savory Scone'
 'Lemon Grass' 'Chocolate Chip Biscotti' 'Spicy Eye Opener Chai'
 'Ginger Biscotti' 'Chocolate Croissant' 'Hazelnut Biscotti'
 'Cranberry Scone' 'Scottish Cream Scone ' 'Croissant' 'Almond Croissant'
 'Ginger Scone' 'Ouro Brasileiro shot' 'Organic Decaf Blend'
 'Chocolate syrup' 'Hazelnut syrup' 'Carmel syrup'
 'Sugar Free Vanilla syrup' 'Jamacian Coffee River'
 'Guatemalan Sustainably Grown' 'Civet Cat' 'Chili Mayan'
 'Primo Espresso Roast' 'Brazilian - Organic' 'I Need My Bean! Diner mug'
 'Espresso Roast' 'I Need My Bean! T-shirt' 'I Need My Bean! Latte cup']

## Filtrar produtos que serão realmente vendidos

In [63]:
# Produtos que serão vendidos
products_to_take = [
    'Cappuccino', 'Latte', 'Espresso shot', 'Dark chocolate', 
    'Sugar Free Vanilla syrup', 'Chocolate syrup', 'Carmel syrup', 
    'Hazelnut syrup', 'Ginger Scone', 'Chocolate Croissant', 
    'Jumbo Savory Scone', 'Cranberry Scone', 'Hazelnut Biscotti',
    'Croissant', 'Almond Croissant', 'Oatmeal Scone', 
    'Chocolate Chip Biscotti', 'Ginger Biscotti'
    ]

In [64]:
dataset.size # Tamanho antes da filtragem

399152

In [65]:
# Filtrar os produtos
dataset = dataset[
    dataset['product'].isin(products_to_take) # mantém os dados com produtos que estão na lista
]
dataset.head()

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product
16,108,2019-04-01,3,65,40,1,Coffee,Cappuccino
17,112,2019-04-01,3,90,37,2,Coffee,Espresso shot
20,127,2019-04-01,3,116,41,2,Coffee,Cappuccino
21,134,2019-04-01,3,189,38,2,Coffee,Latte
22,135,2019-04-01,3,131,40,1,Coffee,Cappuccino

In [66]:
dataset.size  # Tamanho depois da filtragem

127432

## Listar Categorias

In [67]:
# Listar produtos e suas categorias
products_categories = dataset[["product", "product_category"]].drop_duplicates().reset_index(drop=True)
# Remove as duplicatas e reseta o index

display(products_categories)

                     product    product_category
0                 Cappuccino              Coffee
1              Espresso shot              Coffee
2                      Latte              Coffee
3             Dark chocolate  Drinking Chocolate
4              Oatmeal Scone              Bakery
5         Jumbo Savory Scone              Bakery
6    Chocolate Chip Biscotti              Bakery
7            Ginger Biscotti              Bakery
8        Chocolate Croissant              Bakery
9          Hazelnut Biscotti              Bakery
10           Cranberry Scone              Bakery
11                 Croissant              Bakery
12          Almond Croissant              Bakery
13              Ginger Scone              Bakery
14           Chocolate syrup            Flavours
15            Hazelnut syrup            Flavours
16              Carmel syrup            Flavours
17  Sugar Free Vanilla syrup            Flavours
18            Dark chocolate  Packaged Chocolate

## Limpeza das transações
Concatenar o `transaction_id` com `customer_id` para criar um novo id de transação e evitar confusões no modelo.

In [68]:
# Criar nova coluna com o id da transação e do cliente
dataset["transaction"] = dataset["transaction_id"].astype(str) + "_" + dataset["customer_id"].astype(str)
# Converte conteúdo das colunas em string e concatena-os

dataset.head()

,transaction_id,transaction_date,sales_outlet_id,customer_id,product_id,quantity,product_category,product,transaction
16,108,2019-04-01,3,65,40,1,Coffee,Cappuccino,108_65
17,112,2019-04-01,3,90,37,2,Coffee,Espresso shot,112_90
20,127,2019-04-01,3,116,41,2,Coffee,Cappuccino,127_116
21,134,2019-04-01,3,189,38,2,Coffee,Latte,134_189
22,135,2019-04-01,3,131,40,1,Coffee,Cappuccino,135_131

Remover usuários que compraram somente 1 item (esses casos são desnecessários pro modelo de recomendação).

In [69]:
# Criar tabela com a quantidade de produtos por transação
num_of_items_for_each_transaction = dataset["transaction"].value_counts().reset_index()

num_of_items_for_each_transaction

     transaction  count
0          209_0     31
1          206_0     30
2          204_0     27
3          208_0     25
4          203_0     24
...          ...    ...
8381     501_659      1
8382     202_437      1
8383     224_788      1
8384     226_533      1
8385     238_512      1

[8386 rows x 2 columns]

In [70]:
# Quantidade de transações com apenas 1 produto
num_of_items_for_each_transaction[num_of_items_for_each_transaction["count"] == 1]

     transaction  count
2646    221_8481      1
2647     97_8311      1
2648     510_288      1
2649     513_486      1
2650     516_206      1
...          ...    ...
8381     501_659      1
8382     202_437      1
8383     224_788      1
8384     226_533      1
8385     238_512      1

[5740 rows x 2 columns]

In [71]:
# Filtrar as transações com mais de 1 item
# Armazenar os IDs das transações válidas em uma lista
valid_transactions = num_of_items_for_each_transaction[
    (num_of_items_for_each_transaction["count"] > 1)]["transaction"].tolist()

print(valid_transactions)
print("Quantidade de transações válidas:", len(valid_transactions))

['209_0', '206_0', '204_0', '208_0', '203_0', '207_0', '205_0', '151_0', '301_0', '323_0', '42_0', '202_0', '9_0', '76_0', '213_0', '307_0', '274_0', '46_0', '149_0', '51_0', '195_0', '475_0', '197_0', '298_0', '6_0', '242_0', '329_0', '370_0', '140_0', '319_0', '344_0', '54_0', '310_0', '223_0', '325_0', '132_0', '118_0', '317_0', '255_0', '102_0', '172_0', '59_0', '10_0', '320_0', '75_0', '313_0', '278_0', '146_0', '135_0', '314_0', '3_0', '282_0', '36_0', '97_0', '216_0', '228_0', '266_0', '122_0', '38_0', '334_0', '315_0', '61_0', '291_0', '352_0', '284_0', '144_0', '251_0', '211_0', '234_0', '345_0', '239_0', '356_0', '253_0', '187_0', '377_0', '43_0', '30_0', '289_0', '171_0', '421_0', '280_0', '311_0', '152_0', '45_0', '410_0', '260_0', '373_0', '359_0', '143_0', '411_0', '268_0', '306_0', '85_0', '164_0', '262_0', '170_0', '333_0', '177_0', '167_0', '190_0', '58_0', '235_0', '227_0', '295_0', '327_0', '82_0', '264_0', '32_0', '360_0', '331_0', '343_0', '466_0', '324_0', '287_0', '39_0', '351_0', '150_0', '183_0', '196_0', '275_0', '55_0', '21_0', '66_0', '67_0', '293_0', '222_0', '68_0', '145_0', '121_0', '131_0', '90_0', '142_0', '50_0', '70_0', '84_0', '428_0', '117_0', '252_0', '545_0', '248_0', '341_0', '347_0', '214_0', '52_0', '229_0', '24_0', '154_0', '221_0', '286_0', '388_0', '65_0', '94_0', '218_0', '35_0', '254_0', '285_0', '215_0', '184_0', '367_0', '296_0', '91_0', '40_0', '63_0', '346_0', '129_0', '312_0', '309_0', '321_0', '201_0', '148_0', '230_0', '217_0', '210_0', '241_0', '322_0', '305_0', '270_0', '337_0', '499_0', '25_0', '157_0', '231_0', '416_0', '407_0', '502_0', '354_0', '199_0', '297_0', '434_0', '386_0', '96_0', '174_0', '72_0', '443_0', '175_0', '247_0', '113_0', '7_0', '348_0', '198_0', '506_0', '41_0', '385_0', '119_0', '2_0', '261_0', '127_0', '136_0', '95_0', '259_0', '8_0', '200_0', '277_0', '181_0', '49_0', '276_0', '441_0', '361_0', '358_0', '14_0', '88_0', '107_0', '244_0', '243_0', '265_0', '308_0', '371_0', '163_0', '303_0', '405_0', '417_0', '374_0', '220_0', '330_0', '269_0', '5_0', '124_0', '271_0', '412_0', '368_0', '393_0', '498_0', '137_0', '340_0', '123_0', '453_0', '409_0', '403_0', '420_0', '384_0', '100_0', '57_0', '424_0', '283_0', '53_0', '116_0', '372_0', '101_0', '468_0', '429_0', '158_0', '22_0', '138_0', '336_0', '191_0', '442_0', '106_0', '28_0', '563_0', '634_0', '843_0', '232_0', '829_0', '16_0', '302_0', '328_0', '438_0', '300_0', '648_0', '120_0', '134_0', '680_0', '454_0', '47_0', '365_0', '23_0', '683_0', '1838_0', '11_0', '679_0', '408_0', '401_0', '505_0', '990_0', '339_0', '524_0', '104_0', '472_0', '71_0', '897_0', '326_0', '256_0', '17_0', '48_0', '233_0', '281_0', '400_0', '380_0', '98_0', '387_0', '394_0', '392_0', '153_0', '180_0', '178_0', '173_0', '141_0', '182_0', '362_0', '350_0', '1_0', '139_0', '130_0', '353_0', '267_0', '379_0', '212_0', '166_0', '92_0', '161_0', '159_0', '1183_0', '64_0', '226_0', '258_0', '83_0', '887_0', '225_0', '288_0', '273_0', '364_0', '507_0', '556_0', '800_0', '111_0', '179_0', '236_0', '477_0', '74_0', '114_0', '414_0', '471_0', '188_0', '431_0', '435_0', '402_0', '194_0', '625_0', '1210_0', '33_0', '81_0', '1920_0', '451_0', '37_0', '458_0', '162_0', '189_0', '450_0', '128_0', '292_0', '238_0', '186_0', '419_0', '509_0', '26_0', '436_0', '504_0', '440_0', '399_0', '34_0', '79_0', '357_0', '512_0', '366_0', '20_0', '1022_0', '774_0', '155_0', '299_0', '967_0', '62_0', '13_0', '1541_0', '112_0', '272_0', '704_0', '56_0', '12_0', '27_0', '240_0', '257_0', '534_0', '279_0', '219_0', '474_0', '115_0', '548_0', '110_0', '607_0', '349_0', '224_0', '89_0', '418_0', '488_0', '489_0', '483_0', '250_0', '304_0', '1537_0', '294_0', '355_0', '69_0', '245_0', '877_0', '481_0', '485_0', '1758_0', '1013_0', '848_0', '147_0', '382_0', '740_0', '529_0', '176_0', '623_0', '514_0', '972_0', '1645_0', '1741_0', '1186_0', '1306_0', '878_0', '1146_0', '978_0', '1080_0', '446_0', '686_0', '719_0', '278_30', '228_661', '569_0', '501_0', '100_38', '50_432', '452_0', '249_0', '1304_0', '376_0', '105_0', '103_0', '318_0', '422_0', '19_0', '495_0', '18_0', '316_0', '415_0', '462_0', '464_0', '169_0', '77_0', '486_0', '671_0', '731_0', '461_0', '1018_0', '701_0', '1675_0', '1667_0', '237_0', '1466_0', '469_0', '585_0', '595_0', '959_0', '643_0', '378_0', '797_0', '1068_0', '1468_0', '564_0', '1569_0', '44_0', '1260_0', '390_0', '1697_0', '10_565', '1209_0', '108_0', '99_0', '867_0', '23_5362', '874_0', '1564_0', '551_0', '566_0', '192_0', '819_0', '646_0', '1084_0', '467_0', '540_0', '1830_0', '1729_0', '160_0', '1567_0', '383_0', '1275_0', '1420_0', '369_0', '1012_0', '1191_0', '1415_0', '1215_0', '820_0', '691_0', '558_0', '584_0', '808_0', '1132_0', '631_0', '828_0', '1336_0', '681_0', '1016_0', '530_0', '109_0', '1002_0', '126_0', '437_0', '1397_0', '496_0', '29_0', '834_0', '702_0', '523_0', '375_0', '982_0', '945_0', '1101_0', '835_0', '1708_0', '638_0', '836_0', '1404_0', '641_0', '246_0', '1686_0', '78_0', '1736_0', '423_0', '971_0', '1921_0', '612_0', '1561_0', '622_0', '925_0', '427_0', '1103_0', '1501_0', '1389_0', '550_0', '1536_0', '465_0', '1765_0', '676_0', '1258_0', '1831_0', '521_0', '484_0', '114_592', '1024_0', '1790_0', '404_0', '1089_0', '984_0', '609_0', '117_601', '937_0', '1881_117', '1094_0', '1783_66', '1527_0', '60_0', '1637_317', '1807_0', '1880_0', '396_0', '125_5486', '544_0', '494_0', '165_0', '1045_342', '1665_0', '1671_0', '1512_0', '586_0', '2067_0', '993_0', '2035_0', '1852_0', '1816_0', '702_502', '1621_0', '1700_0', '398_0', '709_0', '718_0', '1145_0', '633_0', '476_0', '577_0', '2106_0', '886_0', '1818_0', '335_0', '830_0', '363_0', '1251_0', '427_5054', '433_0', '1568_0', '303_489', '1351_0', '327_360', '713_0', '636_0', '2043_0', '330_767', '261_14', '31_0', '267_114', '1745_0', '571_0', '1739_0', '389_0', '463_0', '1164_0', '821_0', '263_0', '581_0', '2040_0', '1354_0', '86_0', '274_58', '1683_0', '168_0', '792_0', '1376_0', '689_0', '987_0', '426_0', '432_0', '767_0', '1026_0', '490_0', '455_0', '277_483', '894_0', '2025_0', '570_0', '2108_0', '794_0', '73_0', '744_0', '1659_0', '491_0', '738_0', '535_0', '527_0', '297_388', '621_0', '1613_0', '697_0', '1034_0', '773_0', '304_286', '537_0', '1305_0', '1950_0', '3_5684', '554_0', '1655_0', '80_0', '376_591', '1710_0', '627_0', '653_0', '1914_0', '992_0', '721_0', '766_0', '786_0', '1118_0', '444_0', '561_0', '1268_0', '1905_0', '1082_0', '148_370', '728_0', '1867_0', '553_0', '185_0', '1257_0', '824_0', '145_322', '168_168', '178_424', '197_743', '210_389', '60_384', '18_15', '70_572', '75_381', '1110_0', '540_746', '36_610', '562_0', '61_438', '87_42', '88_81', '94_141', '319_3', '1583_0', '566_502', '1375_0', '391_0', '337_541', '892_0', '952_0', '346_563', '135_328', '838_0', '796_0', '457_0', '546_0', '473_0', '1859_0', '1006_0', '539_0', '179_710', '133_0', '522_0', '868_765', '1379_0', '692_0', '342_0', '1916_0', '605_0', '588_0', '1964_0', '575_0', '813_0', '759_0', '1491_0', '156_0', '1559_0', '290_0', '430_0', '1323_0', '460_0', '448_0', '1198_0', '1193_0', '1256_0', '1663_0', '193_0', '1189_0', '1639_0', '338_0', '1173_0', '737_0', '1775_0', '1572_0', '1508_0', '101_384', '1119_0', '1222_0', '1045_0', '509_8094', '1860_0', '579_0', '1059_0', '528_0', '335_5379', '1721_0', '1487_0', '207_5083', '435_5091', '500_0', '531_5056', '1570_0', '1078_0', '2036_0', '98_5423', '36_5627', '1704_0', '252_8096', '1805_0', '970_0', '2183_0', '976_0', '2048_0', '1128_0', '49_221', '64_381', '525_0', '1495_0', '866_0', '393_5268', '872_0', '456_0', '923_0', '1380_0', '1927_0', '1524_0', '1555_0', '1658_0', '2055_0', '639_0', '1938_8437', '525_8009', '1123_0', '582_8349', '589_0', '594_0', '93_0', '732_0', '107_314', '1325_0', '1438_0', '1479_0', '1500_0', '1015_0', '1368_0', '1908_5759', '1951_5086', '150_8378', '998_5793', '164_8051', '783_0', '247_8146', '555_0', '1391_0', '202_5873', '332_0', '425_0', '657_0', '2298_0', '514_5272', '667_0', '1776_5674', '1497_0', '1075_0', '1580_0', '511_0', '1058_5887', '1847_0', '1954_0', '593_0', '565_0', '567_0', '1509_0', '742_0', '765_5575', '781_0', '966_5592', '694_0', '763_5301', '846_0', '1269_0', '826_0', '687_0', '483_8399', '361_8181', '406_8416', '928_0', '63_8322', '154_8260', '284_5616', '38_5060', '115_5536', '71_5120', '751_0', '1525_0', '130_5340', '489_8096', '1517_0', '105_430', '339_8457', '210_8049', '226_5469', '101_5237', '290_5032', '86_5298', '93_5535', '94_5874', '37_5918', '344_130', '1370_0', '1310_0', '93_549', '762_0', '170_8158', '400_8246', '96_8441', '80_8073', '97_8280', '377_5311', '1361_0', '135_8138', '136_8167', '337_5941', '1946_0', '1199_0', '25_8476', '39_8217', '291_5132', '283_5505', '306_5068', '91_5209', '162_5723', '372_248', '136_5861', '1181_0', '305_5467', '1308_0', '1392_0', '91_5416', '1040_0', '441_5389', '39_198', '283_101', '16_8410', '912_5525', '1980_0', '1504_0', '750_0', '207_5704', '1112_0', '1628_0', '445_0', '346_8419', '630_0', '1293_0', '1932_0', '1485_0', '861_0', '132_5355', '1832_0', '672_0', '482_0', '1319_0', '188_8468', '645_0', '617_0', '1631_0', '2131_0', '1961_0', '50_5438', '73_5573', '20_556', '920_0', '2102_0', '735_0', '381_0', '649_0', '213_8368', '2078_0', '869_0', '397_0', '2126_0', '299_80', '16_8085', '2070_0', '1843_0', '611_0', '801_0', '1679_0', '11_440', '810_0', '1791_0', '635_5146', '50_5795', '1779_0', '533_0', '708_0', '698_0', '1734_0', '1715_0', '1714_0', '38_249', '1647_0', '1887_0', '2094_0', '1237_0', '1579_0', '784_0', '1481_0', '1440_0', '790_0', '381_8036', '468_8072', '470_0', '941_0', '919_0', '413_0', '1773_0', '406_8475', '599_0', '543_0', '895_0', '122_8400', '249_5865', '644_8320', '270_5359', '2111_0', '1983_0', '616_0', '868_0', '597_0', '1263_0', '480_0', '917_0', '38_5057', '1742_0', '841_0', '933_0', '516_0', '299_5914', '1400_5028', '912_0', '903_0', '752_0', '714_0', '267_5468', '706_0', '1875_0', '370_8396', '1008_0', '1611_0', '235_5740', '606_0', '884_0', '600_0', '1072_0', '194_5082', '1111_5509', '493_0', '811_0', '349_8440', '21_8357', '2095_0', '197_8173', '384_8083', '406_5411', '1226_0', '660_0', '446_5097', '936_0', '1737_0', '1185_0', '427_22', '1064_0', '1313_0', '2102_5603', '2074_0', '236_8281', '934_0', '439_0', '2045_0', '618_0', '513_0', '2000_0', '1975_0', '1923_0', '1888_5890', '1849_0', '1575_0', '1842_0', '1754_0', '1767_0', '61_8346', '944_0', '1233_0', '953_0', '1943_0', '1823_0', '705_0', '1035_0', '741_0', '1406_0', '1789_5882', '1150_0', '573_0', '960_0', '1005_0', '125_8400', '300_8395', '517_0', '1081_0', '615_0', '1062_0', '1042_0', '988_0', '1182_0', '1582_0', '1120_0', '1492_0', '986_0', '1590_0', '1904_0', '1362_0', '1698_0', '766_8263', '1664_0', '637_599', '1134_0', '1201_0', '939_0', '1138_0', '1787_0', '947_0', '1684_0', '1626_0', '1126_0', '1346_0', '837_0', '823_0', '1897_0', '997_0', '576_0', '619_0', '1706_0', '4_0', '802_0', '610_0', '1429_8376', '1295_0', '1602_0', '37_5315', '2399_0', '206_5563', '1270_0', '235_164', '27_5124', '1445_0', '1882_0', '1350_0', '1360_0', '45_5222', '753_0', '48_8022', '1657_0', '975_0', '974_0', '1918_0', '1170_0', '1087_0', '2435_0', '1315_0', '845_5934', '957_5351', '495_383', '1632_0', '1433_5128', '1354_5410', '1477_5093', '1634_5328', '1910_0', '1439_0', '1513_0', '1565_8249', '1594_0', '1769_0', '1848_0', '2159_0', '2087_0', '1157_0', '1159_8266', '812_8056', '854_0', '865_8086', '1298_0', '972_8128', '1001_8306', '1436_0', '1223_0', '1232_0', '2136_5764', '1237_5604', '2110_5225', '322_8066', '413_8389', '432_8269', '722_0', '510_0', '541_0', '557_0', '577_8059', '2345_5817', '76_8278', '98_8062', '1597_0', '1602_5322', '1940_0', '1964_5055', '1731_0', '1732_5418', '1772_0', '2064_0', '2077_0', '1861_0', '1879_0', '1163_0', '1987_0', '2016_0', '2030_0', '1158_0', '1417_0', '1201_5301', '1213_0', '1228_0', '1382_0', '1400_0', '1421_0', '1432_0', '1540_0', '779_5507', '361_5672', '513_5612', '961_0', '578_0', '620_0', '851_0', '860_0', '1009_5183', '1446_8019', '1556_8229', '1846_0', '1696_0', '1751_0', '1869_0', '1885_0', '1901_403', '268_5483', '1248_0', '1483_0', '1309_0', '1416_0', '1425_0', '1435_0', '1454_0', '1537_751', '1542_0', '1552_0', '2265_8025', '2343_8487', '859_0', '665_0', '678_0', '815_0', '966_0', '981_0', '2229_0', '188_179', '1916_8427', '398_204', '2203_0', '2205_8383', '2225_0', '582_0', '185_409', '635_34', '538_162', '542_789', '879_589', '1013_489', '939_727', '957_294', '1575_8090', '1598_0', '2052_0', '1853_0', '2051_8055', '2093_0', '2100_8300', '2141_0', '1154_0', '1218_8134', '871_0', '1043_0', '1077_0', '1255_0', '1261_0', '1333_0', '1410_175', '1548_746', '1331_622', '1361_125', '1376_715', '1427_757', '2066_0', '624_8370', '1599_0', '1874_89', '1928_338', '1163_693', '1750_5287', '1554_0', '1560_0', '1208_0', '1851_5451', '548_5500', '1723_0', '580_5169', '2022_0', '1785_0', '1811_5559', '1813_5200', '1822_0', '323_5662', '103_5747', '108_5797', '1877_0', '1881_5408', '1891_0', '1056_5332', '119_5387', '931_0', '934_5151', '4_5916', '945_5822', '954_0', '977_0', '3852_0', '38_5499', '49_5590', '1053_5279', '58_5332', '2971_0', '3238_0', '1141_0', '295_5829', '329_5709', '3532_627', '2054_0', '1373_0', '1419_0', '316_8461', '626_5536', '8_5334', '2392_689', '89_5761', '608_0', '58_5159', '172_5295', '749_0', '199_112', '25_5688', '559_0', '82_5613', '591_0', '42_5405', '888_0', '43_5339', '1185_490', '56_5935', '727_0', '67_5571', '84_5510', '87_5017', '92_5598', '812_0', '817_0', '440_5410', '561_5619', '168_5746', '160_5656', '203_5211', '1642_121', '175_5701', '1647_215', '660_5856', '172_8251', '251_8161', '294_8057', '1738_767', '348_8201', '417_8301', '1780_0', '426_8254', '217_5743', '447_8091', '448_8105', '1868_0', '453_8265', '456_8268', '1886_0', '1899_0', '503_0', '1712_779', '2008_12', '172_5703', '1950_493', '1952_651', '1962_0', '1977_523', '894_5114', '1257_5122', '333_5838', '1416_5687', '1329_548', '187_5327', '1158_69', '1171_0', '1180_547', '244_5498', '280_5220', '66_8472', '1443_0', '1455_0', '1231_475', '343_5522', '385_5344', '390_5686', '449_5100', '462_5830', '3429_0', '133_5467', '4073_75', '7_5244', '1381_0', '1393_0', '1424_387', '1427_202', '28_5340', '872_564', '2503_0', '1510_0', '2943_0', '1489_330', '1558_0', '1549_214', '1630_5446', '1681_5015', '1808_5573', '942_0', '946_0', '1896_702', '816_669', '827_634', '2026_0', '1851_0', '849_0', '1991_0', '1025_0', '720_0', '1586_0', '907_0', '1297_0', '1602_8424', '940_0', '1603_8492', '456_8202', '1747_0', '2396_133', '180_5815', '1745_753', '71_5598', '736_0', '1000_0', '536_794', '1169_0', '1347_5111', '1894_5879', '1423_5583', '1591_5860', '1105_100', '2179_5590', '2232_5768', '1631_5208', '1724_5007', '1824_5180', '714_5557', '492_548', '493_323', '610_5780', '883_0', '893_0', '3416_8', '3590_115', '13_5380', '2557_634', '2785_0', '191_5923', '594_285', '653_5233', '1968_0', '2281_357', '1529_0', '334_783', '652_26', '2075_0', '2177_0', '1576_0', '305_8461', '306_8281', '692_88', '1299_0', '131_8248', '2033_0', '3_8069', '747_0', '212_8151', '656_8140', '691_8295', '426_355', '363_8463', '395_8087', '665_8117', '1356_5364', '157_477', '163_573', '254_704', '292_432', '1312_8159', '1102_8435', '1643_8382', '1238_8361', '1292_8043', '86_8350', '134_8092', '42_8428', '1401_5240', '124_8385', '126_8158', '301_579', '950_5717', '154_8132', '1216_0', '1283_5922', '1319_5744', '1321_0', '2014_5012', '1414_0', '1560_5678', '1907_5453', '1918_5719', '1930_0', '311_581', '315_719', '2003_5929', '320_279', '325_30', '250_5032', '332_103', '1082_5181', '1211_5073', '350_712', '134_37', '1106_5013', '1154_5439', '1683_8414', '1813_8117', '1226_5127', '541_5449', '681_5915', '4163_0', '380_5005', '119_771', '121_739', '129_550', '215_681', '224_476', '139_608', '855_5861', '162_504', '166_115', '591_5768', '621_5510', '256_432', '258_200', '658_5867', '3184_0', '198_779', '201_3', '207_646', '3186_0', '489_8208', '853_0', '2403_0', '231_767', '234_634', '243_267', '249_98', '253_429', '169_794', '118_420', '1785_8093', '216_230', '2417_0', '33_493', '458_8192', '468_8219', '2429_0', '74_406', '2940_0', '497_0', '596_0', '1356_0', '2_764', '97_147', '1371_0', '1685_0', '39_3', '1574_0', '1781_0', '62_678', '71_437', '78_301', '1796_798', '1841_5415', '89_39', '93_335', '2022_5691', '624_563', '714_91', '1799_5744', '454_8204', '1662_0', '409_8410', '410_8133', '1797_0', '2451_8025', '220_8071', '174_8206', '177_8003', '188_8101', '980_0', '207_8291', '208_8327', '229_8154', '1834_5100', '69_8076', '274_8120', '283_8091', '286_8144', '304_8199', '116_8145', '1853_5675', '148_8185', '79_8013', '88_8218', '108_8090', '127_8375', '139_8271', '338_5114', '2031_0', '155_8054', '1305_612', '311_5569', '326_5487', '332_5422', '351_5734', '371_5158', '1673_5323', '375_5274', '19_8080', '388_5289', '389_5399', '390_5432', '201_5811', '405_5314', '406_0', '1674_5273', '429_5283', '3_8225', '155_5465', '1712_0', '182_5879', '1742_5424', '229_5170', '246_5489', '255_5671', '1806_5090', '2002_0', '1446_260', '1518_415', '1593_215', '1663_111', '85_5072', '11_5924', '15_0', '33_5138', '699_0', '62_5583', '66_5046', '1357_0', '83_5778', '131_5600', '132_5116', '1066_0', '1069_0', '109_5301', '126_5143', '127_5912', '1110_5609', '283_537', '170_276', '171_652', '196_295', '347_90', '214_441', '216_139', '223_650', '296_118', '305_54', '326_549', '327_581', '1124_0', '477_8500', '1964_551', '2236_469', '8_524', '441_8362', '442_8395', '449_8264', '450_8272', '1531_5408', '93_289', '478_8424', '1229_0', '1_682', '47_742', '1313_5928', '1359_5550', '1429_0', '260_8222', '265_8423', '269_8148', '390_8068', '280_8093', '297_8058', '432_8034', '369_5577', '428_8156', '120_8241', '1585_5331', '39_8050', '179_8150', '180_8170', '87_8188', '118_8415', '1595_0', '157_8400', '169_8144', '181_8196', '1636_5052', '207_8440', '2351_408', '390_5228', '348_5477', '376_5092', '2119_5558', '380_5392', '7_8135', '395_5035', '412_5842', '426_5431', '435_5509', '2431_5047', '259_5128', '140_5159', '232_5795', '240_5218', '241_5654', '170_5785', '264_5871', '97_5820', '190_5308', '204_5871', '126_5532', '72_5790', '80_5696', '83_5158', '209_5199', '919_5672', '428_5713', '1044_0', '186_5287', '191_5766', '324_610', '1057_5414', '38_5856', '336_483', '975_5646', '1037_0', '373_481', '2835_0', '20_5176', '31_5692', '41_5376', '47_5629', '53_5304', '56_5174', '3126_0', '159_208', '186_9', '190_529', '3230_0', '211_306', '216_144', '3414_0', '247_679', '255_554', '2385_0', '914_5933', '1197_5818', '1073_5758', '1100_5762', '1178_5048', '1345_5728', '35_48', '2402_0', '2427_321', '1030_671', '60_111', '2488_325', '346_8333', '109_440', '140_8463', '254_8040', '274_8481', '293_8252', '298_8475', '312_8078', '410_8450', '412_8243', '367_8256', '179_8358', '385_8276', '546_8099', '1116_728', '152_8203', '156_8145', '160_8486', '1136_0', '185_8106', '186_8341', '1171_69', '208_8495', '1486_686', '222_8242', '1427_5506', '1452_5004', '1650_5702', '1754_5261', '1778_5087', '2362_0', '64_8060', '117_8483', '74_8040', '75_8445', '711_0', '82_8414', '84_8319', '147_8487', '825_476', '1615_0', '1996_0', '904_0', '555_8415', '331_5016', '332_5374', '650_8415', '4_8438', '7_8344', '383_5203', '394_5274', '659_0', '43_8447', '424_5817', '805_8004', '815_8351', '217_5770', '14_8008', '955_0', '32_8157', '1738_0', '2163_5001', '1969_5721', '2031_5181', '1459_5662', '257_5673', '258_5781', '209_5555', '289_5026', '1176_0', '237_5756', '240_5588', '254_5701', '274_5055', '1670_5171', '88_5799', '1672_0', '311_5434', '325_5720', '61_5437', '69_5708', '71_5657', '89_5033', '1727_0', '203_5548', '147_5426', '150_5020', '159_5291', '1805_5637', '185_5461', '193_5330', '196_5806', '199_5470', '366_74', '1833_5750', '1946_5002', '293_687', '21_5578', '714_8397', '321_6', '362_508', '374_735', '723_8310', '137_597', '35_5372', '1115_8190', '200_59', '203_235', '1104_0', '92_438', '104_688', '185_273', '281_76', '209_767', '212_456', '223_708', '532_5218', '416_8057', '1250_0', '247_168', '250_

In [72]:
# Filtrar as transações do dataset com a lista de transações válidas
dataset = dataset[dataset["transaction"].isin(valid_transactions)]

# Tendências de Produtos

## Mecanismo de Recomendação por Popularidade

**Produtos/categorias mais populares:** Usados para recomendações para novos clientes que não possuem nenhum produto adicionado ao carrinho.

In [73]:
# Categorias mais populares
dataset["product_category"].value_counts()

product_category
Bakery                3800
Coffee                3174
Flavours              2246
Drinking Chocolate     947
Packaged Chocolate      22
Name: count, dtype: int64

In [74]:
# Produtos mais populares
dataset["product"].value_counts()

product
Cappuccino                  1290
Latte                       1256
Dark chocolate               969
Chocolate Croissant          636
Espresso shot                628
Sugar Free Vanilla syrup     605
Chocolate syrup              568
Carmel syrup                 561
Hazelnut syrup               512
Ginger Scone                 417
Jumbo Savory Scone           357
Croissant                    355
Chocolate Chip Biscotti      352
Cranberry Scone              350
Almond Croissant             347
Hazelnut Biscotti            338
Oatmeal Scone                334
Ginger Biscotti              314
Name: count, dtype: int64

In [75]:
# 
product_recommendation = dataset.groupby(
    ["product", "product_category"] # agrupar produto por categoria
    ).count().reset_index()

# Usar apenas as colunas product, product_category e product_id
product_recommendation = product_recommendation[
    ["product", "product_category", "product_id"]
]
# Renomear colunas
product_recommendation = product_recommendation.rename(columns={
    "transaction_id": "number_of_transactions"})

product_recommendation

                     product    product_category  product_id
0           Almond Croissant              Bakery         347
1                 Cappuccino              Coffee        1290
2               Carmel syrup            Flavours         561
3    Chocolate Chip Biscotti              Bakery         352
4        Chocolate Croissant              Bakery         636
5            Chocolate syrup            Flavours         568
6            Cranberry Scone              Bakery         350
7                  Croissant              Bakery         355
8             Dark chocolate  Drinking Chocolate         947
9             Dark chocolate  Packaged Chocolate          22
10             Espresso shot              Coffee         628
11           Ginger Biscotti              Bakery         314
12              Ginger Scone              Bakery         417
13         Hazelnut Biscotti              Bakery         338
14            Hazelnut syrup            Flavours         512
15        Jumbo Savory Scone              Bakery         357
16                     Latte              Coffee        1256
17             Oatmeal Scone              Bakery         334
18  Sugar Free Vanilla syrup            Flavours         605

In [76]:
# Exportar recomendações para novos clientes em CSV
product_recommendation.to_csv(
    "api/recommendation_objects/popularity_recommendation.csv", # arquivo de destino
    index=False # não incluir o índice
)

# Mecanismo de recomendação Apriori

In [77]:
# Dados de treinamento
# Agrupa as transações e os produtos e adiciona um contador pros produtos
train_basket = (dataset.groupby(['transaction', 'product'])['product'].count().reset_index(name='Count'))

train_basket.head()

  transaction         product  Count
0      1000_0  Dark chocolate      1
1      1000_0   Oatmeal Scone      1
2   1001_8306      Cappuccino      1
3   1001_8306    Carmel syrup      1
4      1002_0    Carmel syrup      1

Exemplo de resultado:
```
transaction | Dark chocolate | Latte | Croissant | Oatmeal | scone | ...
1000_0      |      1         |  0    |   0       |   0     |  1    | ...
```

In [78]:
# Converter pro formato
my_basket = train_basket.pivot_table(
    index="transaction", # índice que vai ficar na extremidade esquerda da mesa
    columns="product", # demais colunas
    values="Count"
).fillna(0)  # converter NaN com 0

my_basket.head()

product,Almond Croissant,Cappuccino,Carmel syrup,Chocolate Chip Biscotti,Chocolate Croissant,Chocolate syrup,Cranberry Scone,Croissant,Dark chocolate,Espresso shot,Ginger Biscotti,Ginger Scone,Hazelnut Biscotti,Hazelnut syrup,Jumbo Savory Scone,Latte,Oatmeal Scone,Sugar Free Vanilla syrup
transaction,,,,,,,,,,,,,,,,,,
1000_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1001_8306,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1002_0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1004_5383,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1005_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0

In [79]:
# Normalizar os dados em 0s e 1s
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

my_basket_sets = my_basket.map(encode_units)

my_basket_sets.head()

product,Almond Croissant,Cappuccino,Carmel syrup,Chocolate Chip Biscotti,Chocolate Croissant,Chocolate syrup,Cranberry Scone,Croissant,Dark chocolate,Espresso shot,Ginger Biscotti,Ginger Scone,Hazelnut Biscotti,Hazelnut syrup,Jumbo Savory Scone,Latte,Oatmeal Scone,Sugar Free Vanilla syrup
transaction,,,,,,,,,,,,,,,,,,
1000_0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1001_8306,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1002_0,0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0
1004_5383,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1005_0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

In [80]:
# Frequência dos produtos
frequent_items = apriori(my_basket_sets,
                         min_support = 0.05, # excluir itens com baixa frequência (insuficiente para recomendação)
                         use_colnames=True)  # usar nomes de coluna
frequent_items.head(20)

c:\Users\aleju\AppData\Local\Programs\Python\Python313\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                            itemsets
0   0.115646                  (Almond Croissant)
1   0.388889                        (Cappuccino)
2   0.191232                      (Carmel syrup)
3   0.112623           (Chocolate Chip Biscotti)
4   0.135676               (Chocolate Croissant)
5   0.188964                   (Chocolate syrup)
6   0.116024                   (Cranberry Scone)
7   0.114135                         (Croissant)
8   0.277022                    (Dark chocolate)
9   0.209373                     (Espresso shot)
10  0.106198                   (Ginger Biscotti)
11  0.133409                      (Ginger Scone)
12  0.105442                 (Hazelnut Biscotti)
13  0.171580                    (Hazelnut syrup)
14  0.114890                (Jumbo Savory Scone)
15  0.382086                             (Latte)
16  0.109599                     (Oatmeal Scone)
17  0.200302          (Sugar Free Vanilla syrup)
18  0.053288      (Cappuccino, Almond Croissant)
19  0.057445  (Dark chocolate, Almond Croissant)

### Regra de Associação

In [ ]:
# Tabela que mostra o antecedente e consequência e sua frequência
rules_basket = association_rules(
    frequent_items, # dados: frequência dos produtos
    metric="lift", # lift - probabilidade de produtos serem comprados juntos
    min_threshold=1 # limite mínimo
)

rules_basket.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Cappuccino),(Almond Croissant),0.388889,0.115646,0.053288,0.137026,1.184874,0.008314,1.024775,0.255319
1,(Almond Croissant),(Cappuccino),0.115646,0.388889,0.053288,0.460784,1.184874,0.008314,1.133333,0.176432
2,(Dark chocolate),(Almond Croissant),0.277022,0.115646,0.057445,0.207367,1.793115,0.025409,1.115717,0.611791
3,(Almond Croissant),(Dark chocolate),0.115646,0.277022,0.057445,0.496732,1.793115,0.025409,1.436567,0.500152
4,(Almond Croissant),(Latte),0.115646,0.382086,0.054422,0.470588,1.231629,0.010235,1.167171,0.212660
5,(Latte),(Almond Croissant),0.382086,0.115646,0.054422,0.142433,1.231629,0.010235,1.031236,0.304358
6,(Cappuccino),(Carmel syrup),0.388889,0.191232,0.102797,0.264334,1.382270,0.028429,1.099369,0.452540
7,(Carmel syrup),(Cappuccino),0.191232,0.388889,0.102797,0.537549,1.382270,0.028429,1.321462,0.341943
8,(Cappuccino),(Chocolate Chip Biscotti),0.388889,0.112623,0.056311,0.144801,1.285714,0.012514,1.037626,0.363636
9,(Chocolate Chip Biscotti),(Cappuccino),0.112623,0.388889,0.056311,0.500000,1.285714,0.012514,1.222222,0.250426

In [87]:
# Exemplo: produtos que são comprados juntos com Latte
rules_basket[
    rules_basket['antecedents'] == {'Latte'}
    ].sort_values('confidence', ascending=False) # ordenar pelo nível de confiança

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
71,(Latte),(Sugar Free Vanilla syrup),0.382086,0.200302,0.108844,0.284866,1.422182,0.032311,1.118249,0.480415
32,(Latte),(Carmel syrup),0.382086,0.191232,0.107710,0.281899,1.474121,0.034643,1.126260,0.520509
44,(Latte),(Chocolate syrup),0.382086,0.188964,0.103175,0.270030,1.428997,0.030974,1.111053,0.485842
69,(Latte),(Hazelnut syrup),0.382086,0.171580,0.101285,0.265084,1.544961,0.035727,1.127231,0.570848
53,(Latte),(Croissant),0.382086,0.114135,0.057067,0.149357,1.308605,0.013458,1.041407,0.381651
66,(Latte),(Ginger Scone),0.382086,0.133409,0.055178,0.144411,1.082472,0.004204,1.012860,0.123300
39,(Latte),(Chocolate Croissant),0.382086,0.135676,0.055178,0.144411,1.064381,0.003338,1.010209,0.097889
5,(Latte),(Almond Croissant),0.382086,0.115646,0.054422,0.142433,1.231629,0.010235,1.031236,0.304358
65,(Latte),(Ginger Biscotti),0.382086,0.106198,0.054044,0.141444,1.331890,0.013467,1.041053,0.403272
48,(Latte),(Cranberry Scone),0.382086,0.116024,0.051398,0.134520,1.159416,0.007067,1.021371,0.222518

*Análise:* Quem compra Latte tem maior chance de comprar um Sugar Free Vanilla Syrup ou Carmel syrup

#### Salvar em JSON

In [ ]:
# Converter para JSON